@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico&display=swap');

body {
	width: 100%;
	margin: 0;
	font-family: open sans, sans-serif;
}

/*Entrada*/
.container_foto{
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}

.franciele {
	margin-top: 100px;
	width: 350px;
}

.h1_entrada {
	color: #f368e0;
	text-align: center;
}

/*Site normal*/

header {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #ff9ff3;
	top: 0;
}

header h1 {
	font-weight: normal;
	color: #f368e0;
	font-size: 3vw;
	font-family: 'Pacifico', cursive;;
}

header .marlon  {
	margin-left: 4vw;
	margin-bottom: 1vw;
	width: 15vw;
	height: 15vw;
	border-radius: 7.5vw;
}

.barra_esquerda {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 30%;
	background-color: #ff9ff3;
	float: left;
}

.barra_esquerda h1 {
	margin-top: 3vw;
	font-weight: normal;
	color: #f368e0;
	font-size: 4.5vw;
	font-family: 'Pacifico', cursive;;
}

.caixa_autor {
	top: 60px;
	width: 70%;
}

.nome_autor {
	font-size: 2.2vw;
	font-family: 'Montserrat', sans-serif;
	color: #f368e0;
	margin: 0;
	text-align: center;
}

.caixa_texto_autor {
	margin-top: 1vw;
	background-color: #f368e0;
	color: #fff;
	padding: .6vw;
	font-family: 'Montserrat', sans-serif;
	border-radius: .5vw;
}

.caixa_texto_autor h4 {
	margin: 0;
	text-align: center;
}

.barra_esquerda .marlon {
	margin-left: 4vw;
	margin-bottom: 1vw;
	width: 15vw;
	height: 15vw;
	border-radius: 7.5vw;
}

.caixa_redes_sociais {
	margin-top: 2vw;
}

.icones_redes_sociais {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: .5vw;
}

.img_rede {
	width: 5vw;
	height: auto;
	margin-top: 0;
	margin-right: 1vw;
}

.barra_blog {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #5f27cd;
	width: 70%;
	float: right;
	padding-top: 8vw; 
}

.caixa_blog {
	background-color: #fff;
	width: 70%;
	height: auto;
	margin-bottom: 12vw;
	padding: 3vw;
	border-radius: 5px;
}

.barra_blog .caixa_blog h2 {
	color: #222f3e;
}

.img_blog {
	width: 38vw;
	margin-left: 5vw;
	height: auto;
}

.hora {
	color: #8395a7;
	font-style: italic;
}

/*mobile*/
@media screen and (max-width: 760px) {
	body {
		width: 100%;
		margin: 0;
		font-family: open sans, sans-serif;
	}

	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: fixed;
		height: 50px;
		width: 100%;
		background-color: #ff9ff3;
		top: 0;
	}

	header h1 {
		margin-top: -5px;
		margin-left: 20px;
		font-weight: normal;
		color: #f368e0;
		font-size: 30px;
		font-family: 'Pacifico', cursive;;
	}

	header .marlon_mobile  {
		margin-top: 5px;
		width: 40px;
		height: 40px;
		border-radius: 7.5vw;
	}

	.barra_esquerda {
		display: none;
		flex-wrap: wrap;
		justify-content: center;
		position: fixed;
		height: 100%;
		width: 30%;
		background-color: #ff9ff3;
		float: left;
	}

	.barra_esquerda h1 {
		margin-top: 3vw;
		font-weight: normal;
		color: #f368e0;
		font-size: 4.5vw;
		font-family: 'Pacifico', cursive;;
	}

	.caixa_autor {
		margin-top: -120px;
		width: 70%;
	}

	.nome_autor {
		font-size: 2.2vw;
		font-family: 'Montserrat', sans-serif;
		color: #f368e0;
		margin: 0;
		text-align: center;
	}

	.caixa_texto_autor {
		margin-top: 1vw;
		background-color: #f368e0;
		color: #fff;
		padding: .6vw;
		font-family: 'Montserrat', sans-serif;
		border-radius: .5vw;
	}

	.caixa_texto_autor h4 {
		margin: 0;
		text-align: center;
	}

	.marlon {
		margin-left: 4vw;
		margin-bottom: 1vw;
		width: 15vw;
		height: 15vw;
		border-radius: 7.5vw;
	}

	.caixa_redes_sociais {
		margin-top: 2vw;
	}

	.icones_redes_sociais {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: .5vw;
	}

	.img_rede {
		width: 5vw;
		height: auto;
		margin-top: 0;
		margin-right: 1vw;
	}

	.barra_blog {
		position: relative;
		top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: #5f27cd;
		width: 100%;
		float: right;
		padding-top: 8vw; 
	}

	.caixa_blog {
		background-color: #fff;
		width: 85%;
		height: auto;
		margin-bottom: 3vw;
		padding: 3vw;
		border-radius: 3px;
	}

	.barra_blog .caixa_blog h2 {
		color: #222f3e;
	}

	.img_blog {
		width: 95%;
		max-width: 95%;
		height: auto;
		margin: 0 auto;
	}	
}